#img{
    display:block;
    position: fixed;
    margin-top: 500px;
    margin-left: 1200px;
   
}

#btn{
    border-radius: 2px;
}

#bar{
    border: 2px solid red;
    width: 1290px;
    height: 90px;
    position: relative;
    background: rgb(239, 133, 11);
}

#dots{
    display: inline-block;
    position: absolute;
    top:0%;
    left: 95%;
    
}

#show{
        
        position: fixed;
        border: 2px solid red;
        margin-top: 50px;
        margin-left: 27% ;
        height: 600px;
        width: 500px; 
        z-index: 1;
        background:white;
        display: block;

       /* display: none; */
}

#left{
    
    border: 2px solid red;
    width:300px;
    height: 200px;
    position: absolute;
    margin-top: 2px;
    display: none;
    background:rgb(239, 133, 11);
    
}

#right{
    
    width: 200px;
    height: 200px;
    position: absolute;
    display: none;
    top: 8%;
    left: 84%;
    background:rgb(239, 133, 11);
    overflow: hidden;
}

.r{
    background: red;
}

#profile{
    display: inline-block;
    
    top: 8%;
    left: 91%;  
    width: 100px;
    height: 100px;      
    background:rgb(239, 133, 11);
    position: fixed;
    
}
#profile-image{
    position: absolute; 
    height: 80px;
    width: 100px
}

#prof{
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 20px;
    
    top: 80%;
}

#sp{
    margin-left: 10px;
}
#search{
    display: none;
    top: 0%;
    left: 20%;
    position: absolute;
}

#cross{
    top:0%;
    left: 74%;
    position: absolute;
    display: none;
    
}


#input-search{
    width: 700px;
    height: 40px;

}
#search-btn{

    display: inline-block;
    position: absolute;
    top: 0%;
    left: 85%;
}

#ram{

    height: 50px;
    width: 600px;
    background: rgb(239, 133, 11);

}
#button{
    
    height: 40px;
    width: 40px;
    
    position:absolute;
    margin-left: 558px;  
    color: white;
    display:inline-block;
    border: none; 
    cursor: pointer;
    margin: 5px;
    
    background:white;
     

}

li{
    list-style: none;
    margin-bottom: 2px;

}

input{
    width: 200px;
    display: inline-block;
}
select{
    width: 200px;
    display: inline-block;
}
span{

    display: inline-block;
    width: 100px;
    
    margin-right: 10px;
}

#manage{
    position: absolute;
    border: 2px solid red;
    width: 600px;
    height: 500px;
    display: none;
    top:20%;
    left:30%;
    
}
#free{
    position: absolute;
    width:600px;
    height:457px;
    display: inline-block;
    
}
#man-bar{
    border: 2px solid red;
    width: 600px;
    height: 40px;
    background: rgb(239, 133, 11);
    
}

#h1{
    position: absolute;
    display: block;
    width: 300px;
    height: 40px;
    font-size: 22px;
   
    top: -2%;
    margin: 10px auto;
    left: 30%;
    line-height: 40px;
    color: white;
}
#bclose{
    border: none;
    background: rgb(239, 133, 11);
    color: white;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    cursor: pointer;
}



#wo{
    height: 40px;
    width: 60px;
}

#exp1{

    display: block;
    border:none;
    background: rgb(239, 133, 11);
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 90px;   
}

#man-close{
    
        position:absolute;
        left: 92%;
}

#cross1{

        display: block;
        width: 60px;
        height: 40px;
        border: none;
        margin: 0px;
        background: rgb(239, 133, 11);
        color: white;
        font-weight: bold;
        font-size: 35px; 
}



#s{

    color: white;
    border: none;
    background: rgb(239, 133, 11);
    font-weight: bold;
    font-size: 28px;    

}


#btnl1{
    width: 200px;
    height: 30%;
    color: white;
    border: none;
    font-weight: bold;
    background: rgb(239, 133, 11);
    font-size: 28px; 
}

#btnl2{
    width: 200px;
    height: 30%;
    color: white;
    border: none;
    font-weight: bold;
    background: rgb(239, 133, 11);
    font-size: 28px; 

    
    
}
#logout{
    width: 200px;
    height: 30%;
    color: white;
    border: none;
    font-weight: bold;
    background: rgb(239, 133, 11);
    font-size: 28px;

}

button{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    font-weight: bold;
    background: rgb(239, 133, 11);
    font-size: 28px; 
}

#a{
    position: absolute;
    width: 50px;
    height: 40px;
    left: -30%;
    font-size: 22px;
}
#btn2{

    color:white;
    position:absolute;
    border: none;
    background: rgb(239, 133, 11);
    font-weight: bold;
    font-size: 28px;     
}

#btn1{
    
        position: absolute;
        top:6%;
        left:7%;
        width:300px;
        height:50px;

    }
    
#add{
    position: absolute;
    left: 45%;
}

#wrapper{
    position: absolute;
    top: 8%;
    width: 90%;
    height: 100%;
    display: inline-block;
    position: absolute;
}

.box{

    display: inline-block;
    position: relative;
    width: 286px;
    height: 300px;
    margin: 4px;
    z-index: 10;
}
.orange{
    border: 2px solid red;
    display: inline-block;
    width: 286px;
    height: 40px;
    overflow: hidden;
    position: relative;
    
    background: rgb(239, 133, 11);
    
}
.cont{

    border: 2px solid red;
    display: inline-block;
    width: 286px;
    height: 250px;
    overflow: auto;
    top: 20%;
}
.inside{

    display: inline-block;
    position: absolute;
    left: 88%;
    font-size:  27px;
   

}

.btnx{
    width:600px;
    height: 55px;
    background: rgb(242, 166, 43);

}

#red{

    display: inline-block;
    position: fixed;
    top: 10%;
    left: 1%;
    z-index: 0;

}



